.masthead.segment {
  padding: 1em 0em;
}
.masthead .logo.item img {
  margin-right: 1em;
}
.masthead .ui.menu .ui.button {
  margin-left: 0.5em;
}
.masthead h1.ui.header {
  margin-bottom: 0em;
  font-size: 4em;
  font-weight: normal;
}
.masthead h2 {
  font-size: 1.7em;
  font-weight: normal;
}

h1.page-title {
  text-align: center;
}

/* Landing page view */
.landing-page-view .masthead.segment {
  min-height: 700px;
}

.landing-page-view .masthead h1.ui.header {
  margin-top: 3em;
}

/* Dashboard view */
.dashboard-view {
  margin-left: 50px;
  margin-right: 50px;
}

.dashboard-content .event-cards .event-card .image {
  background-position: 50%;
  background-size: cover;
  height: 250px;
}

.ui.large.secondary.inverted.pointing.menu {
  border: none;
}

/* Event view */
.event-view  .masthead.segment {
  height: 200px;
}

.event-view .event-content {
  margin-top: 30px;
}

.event-view .event-content .summary-content .datetime-pickers{
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
}

.event-view .event-content .summary-content .datetime-pickers .field{
  margin-bottom: 5px;
  padding-right: 5px;
}

.event-view .event-content .summary-content .datetime-pickers .four.wide.field{
  margin-bottom: 5px;
  padding-right: 5px;
  padding-left: 0;
}

.event-view .event-content .event-notifications .notification-content {
  margin-top: 50px;
}

.event-view .event-content .event-notifications .notification-content .notification-list {
  max-height: 500px;
  overflow-y: scroll;
}

.event-view .event-content .event-timetable .timetable-segments {
  min-height: 200px;
  max-height: 500px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.event-view .event-content .event-timetable .timetable-segments .subevent-view {
  transition: .1s;
  border: 1px solid white;
}

.event-view .event-content .event-timetable .timetable-segments .subevent-view.admin:hover {
  margin-left: 1px;
  margin-right: 1px;
  border: 1px solid grey;
  cursor: pointer;
}

.event-view .event-content .event-timetable .timetable-segments .subevent-view.admin .delete-button{
  display: none;
}

.event-view .event-content .event-timetable .timetable-segments .subevent-view.admin:hover .delete-button {
  display: block;
}

.event-view .event-content .event-stats .stat-sub-graph {
  height: 500px;
}

.event-view .event-timetable .timetable-container {
  margin-top: 50px;
}

/* Create event view */
.create-event-view {
  margin-top: 50px;
  height: 700px;
}

.create-event-view .error.field{
  color: red;
}
